/* GENERAL ;)*/
*{
	margin: 0;
	padding: 0;
}
p{
	text-align: center;
	padding-bottom: 5%;
}
body{

	font-family: 'Raleway', sans-serif;
}
/* HEADER ;)*/
header{
	height: 12em;
	width: auto;
}
.row{
	width: 100%;
	height: 100%;
}
.logo { 
	width: 100%;
	height: 100%;
	display: flex;
}
#imglogo {
	width: 30%;
	height: 99%;
	background-image: url("../img/logo.png");
	background-size: 70% 90%;
	background-repeat: no-repeat;
	background-position: right;
	float: left;	
}
.cotedroite{
	width: 69%;
	height: 100%;
}
.logo2{
	width: 100%;
	height: 60%;
	float:right;
	background-image: url("../img/ban.png");
	background-color: green;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.logo3 {
	width: 100%;
	height: 40%;
}
#paccueil{
	width: 15%;
	height: 100%;
	cursor: pointer;
	font-size: 1.5em;
	padding-top: 2%;
	text-align: center;
}
#paction{
	width: 27%;
	height: 100%;
	cursor: pointer;
	font-size: 1.5em;
	padding-top: 2%;
	text-align: center;
}
#pqsn{
	width: 34%;
	height: 100%;
	cursor: pointer;
	font-size: 1.5em;
	padding-top: 2%;
	text-align: center;
}
#pcontact{
	width: 12%;
	height: 100%;
	cursor: pointer;
	font-size: 1.5em;
	padding-top: 2%;
	padding-left: 1%;
	text-align: center;
}
.plogo3{
	display: inline-block;
}
.barrebleu{	
	width: 100%;
	height: 30%;
  	background-color: blue;
  	color:white;
}
#contenu {
	width: 70%;
	height: 70%;
	padding-top: 8%;
	padding-bottom: 2%;
	text-align: center;
	margin: 0 auto;

}
header > div > h2{
	margin-left: 7%;
	padding-top: 15px;
}
/*fin du header*/
/*debut CSS footer (jeremy)*/
footer{	width: 100%;
  	height: 9em;
  	background-color: blue;
  	color: white;
  }
.bannierefoot{width: 100%;
  				height: 15%;
  				background-color: green;
  }
.contactfoot{width: 75%;
  			height: 85%;
  			margin:0 auto;
  			color:white;
  			text-align: center;
  				padding-top: 1em;
  			}

.info{
	padding-top:;
	width: 100%;
	height: 50%;
	color:white;
	display: flex;
}
#mention{
	color:white;
	height: 100%;
	width: 30%;
}
#join,#hautdesite{
	color:white;
	height: 100%;
	width: 25%;
}
#adress,#mail,#telephone{
	color:white;
	height: 100%;
	width: 25%;
}
.infogauche,.infodroite{
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: space-between;
	padding-top: 1px;
}
.infodroite{
	margin-left:5%;
}
/*fin*/
/*alexandre*/
* {
  box-sizing: border-box;
}
h2{
  float: left;
}
input[type=text], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
textarea{
  width: 100%;
  padding: 30px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;

}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*fin alexandre/*
/*fin*/
#formulaire{
	display: none;
}
#NA{
    display: none;
}
#QS{
    display: none;
}
#CT{
    display: none;
}
.page2{
    display: none;
}
.page3{
    display: none;
}
.page4{
    display: none;
}
/*notre action page 2 */
.page2 {

	color: grey;
	text-align: center;
	
}
h3{
	font-size: 30px;
	color: green;
}